
/* Basic styles ----------------------------------------------------------- */
.simple_karma.karma_template { display: none; }

/* Node links */
.links .simple_karma,
.links .simple_karma .karma_form,
.links .simple_karma .karma_form_promoted { display: inline; }

/* Form type 1 (Score / Combo box) ---------------------------------------- */

/* Node links */
.links .karma_1 .karma_score {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 0 4px;
  color: #000;
}
.links .karma_1 .karma_form_promoted .karma_score {
  border-color: #cc9;
  background: #ffc;
}

/* Form type 2 (Score / Combo box) ---------------------------------------- */

/* Node links */
.links .karma_2 .karma_score {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 0 4px;
  color: #000;
}
.links .karma_2 .karma_form_promoted .karma_score {
  border-color: #cc9;
  background: #ffc;
}

/* Administration */
td .karma_2 .karma_score {
  border: 1px solid #bbb;
  padding: 0 4px;
  color: #000;
}

/* Form type 3 (Score / Up / Down) ---------------------------------------- */

/* Node */
.karma_3 {
  display: block;
  width: 50px;
}
.karma_3 .karma_score {
  display: block;
  margin-bottom: 2px;
  background: url("simple_karma_images/3_scorebg.gif");
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 150%;
  letter-spacing: -0.1em;
}
.karma_3 .karma_form_promoted .karma_score {
  background: url("simple_karma_images/3_scorebg_promoted.gif");
}
.karma_3 .karma_buttons {
  display: block;
  text-align: center;
}
.karma_3 .karma_buttons label {
  text-align: left;
  display: block;
  font-size: 90%;
}

/* Node links */
.links .karma_3 {
  display: inline;
  width: auto;
}
.links .karma_3 .karma_score {
  display: inline;
  margin-bottom: 0;
  height: inherit;
  line-height: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  background: #fff;
  border: 1px solid #bbb;
  padding: 0 4px;
  color: #000;
}
.links .karma_3 .karma_form_promoted .karma_score {
  border-color: #cc9;
  background: #ffc;
}
.links .karma_3 .karma_buttons { display: inline; }
.links .karma_3 .karma_buttons label {
  display: inline;
  font-size: 100%;
}

/* Form type 4 (Score / Up) ----------------------------------------------- */

/* Node */
.karma_4 {
  display: block;
  width: 50px;
}
.karma_4 .karma_score {
  display: block;
  margin-bottom: 2px;
  background: url("simple_karma_images/4_scorebg.gif");
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 150%;
  letter-spacing: -0.1em;
}
.karma_4 .karma_form_promoted .karma_score {
  background: url("simple_karma_images/4_scorebg_promoted.gif");
}
.karma_4 .karma_buttons {
  display: block;
  height: 14px;
}

/* Node links */
.links .karma_4 {
  display: inline;
  width: auto;
}
.links .karma_4 .karma_score {
  display: inline;
  margin-bottom: 0;
  height: inherit;
  line-height: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  background: #fff;
  border: 1px solid #bbb;
  padding: 0 4px;
  color: #000;
}
.links .karma_4 .karma_form_promoted .karma_score {
  border-color: #cc9;
  background: #ffc;
}
.links .karma_4 .karma_buttons { display: inline; }
.links .karma_4 .karma_buttons label {
  display: inline;
  font-size: 100%;
}

/* Comments (Hide / Show) ------------------------------------------------- */
.karma_comment_hide { 
  float: right;
  background: url("simple_karma_images/comment_hide.gif") no-repeat;
  height: 14px;
  width: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.karma_comment_show { 
  float: right;
  background: url("simple_karma_images/comment_show.gif") no-repeat;
  height: 14px;
  width: 24px;
  margin-right: 20px;
  cursor: pointer;
}

/* Blocks */
.block.block-simple_karma ul {
  margin-left: 0;
  padding-left: 0;
}
.block.block-simple_karma li {
  list-style: none;
  clear: left;
}
.block-simple_karma li span.score {
  clear: left;
  float: left;
  display: block;
  width: 2.5em;
  margin-bottom: 0.2em;
  padding: 0 1px;
  border: 1px solid #ccc;
  background: #fff url("simple_karma_images/block_scorebg.gif") repeat-x top left;
  text-align: center;
  letter-spacing: -1px;
}
.block.block-simple_karma li a {
  display: block;
  margin-left: 3.5em;
}
.block-simple_karma li span.user {
  display: block;
  margin-left: 3.5em;
  margin-bottom: 0.2em;
}
.block-simple_karma li span.user a {
  display: inline;
  margin: 0;
}
.block-simple_karma li span.avatar div.user { display: inline; }
.block-simple_karma li span.avatar div.user * { vertical-align: top; }