
/* Basic styles ----------------------------------------------------------- */
.simple_karma .karma_form input,
.simple_karma .karma_form_promoted input,
.simple_karma .karma_form label span,
.simple_karma .karma_form_promoted label span { display: none; }

/* Form type 3 (Score / Up / Down) ---------------------------------------- */

/* Node */
.karma_3 .karma_buttons label {
  display: block;
  float: left;
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
.karma_3 .karma_up_clicked_clickable,
.karma_3 .karma_up_not_clicked_clickable,
.karma_3 .karma_down_clicked_clickable,
.karma_3 .karma_down_not_clicked_clickable { cursor: pointer; }

.karma_3 .karma_up_clicked_not_clickable,
.karma_3 .karma_up_not_clicked_not_clickable,
.karma_3 .karma_down_clicked_not_clickable,
.karma_3 .karma_down_not_clicked_not_clickable { cursor: default; }

.karma_3 .karma_up_not_clicked_clickable { background-image: url("simple_karma_images/3_up_enabled_unclicked.gif"); margin-right: 2px; }
.karma_3 .karma_up_clicked_clickable { background-image: url("simple_karma_images/3_up_enabled_clicked.gif"); margin-right: 2px; }
.karma_3 .karma_up_not_clicked_not_clickable { background-image: url("simple_karma_images/3_up_disabled_unclicked.gif"); margin-right: 2px; }
.karma_3 .karma_up_clicked_not_clickable { background-image: url("simple_karma_images/3_up_disabled_clicked.gif"); margin-right: 2px; }

.karma_3 .karma_down_not_clicked_clickable { background-image: url("simple_karma_images/3_down_enabled_unclicked.gif"); }
.karma_3 .karma_down_clicked_clickable { background-image: url("simple_karma_images/3_down_enabled_clicked.gif"); }
.karma_3 .karma_down_not_clicked_not_clickable { background-image: url("simple_karma_images/3_down_disabled_unclicked.gif"); }
.karma_3 .karma_down_clicked_not_clickable { background-image: url("simple_karma_images/3_down_disabled_clicked.gif"); }

/* Node links */
.links .karma_3 .karma_buttons {
  display: inline-block;
  display: -moz-inline-box;
  overflow: hidden;
  vertical-align: middle;
}
.links .karma_3 .karma_up { margin-right: 1px; }



/* Form type 4 (Score / Up) ----------------------------------------------- */

/* Node */
.karma_4 .karma_buttons label {
  display: block;
  float: left;
  width: 50px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
.karma_4 .karma_up_clicked_clickable,
.karma_4 .karma_up_not_clicked_clickable { cursor: pointer; }
.karma_4 .karma_up_clicked_not_clickable,
.karma_4 .karma_up_not_clicked_not_clickable { cursor: default; }

.karma_4 .karma_up_not_clicked_clickable { background-image: url("simple_karma_images/4_up_enabled_unclicked.gif"); }
.karma_4 .karma_up_clicked_clickable { background-image: url("simple_karma_images/4_up_enabled_clicked.gif"); }
.karma_4 .karma_up_not_clicked_not_clickable { background-image: url("simple_karma_images/4_up_disabled_unclicked.gif"); }
.karma_4 .karma_up_clicked_not_clickable { background-image: url("simple_karma_images/4_up_disabled_clicked.gif"); }


/* Node links */
.links .karma_4 .karma_buttons {
  display: inline-block;
  display: -moz-inline-box;
  overflow: hidden;
  vertical-align: middle;
}

/* Alan: fixes the formatting problem with drop-down voting for negative-voted nodes */
.has_negative_karma { display: inline; }

/* This gives visual feedback while a form is waiting submission. */
.karma_sending { 
  opacity: 0.3;
  filter: alpha(opacity=30);
  width: 100%;
  height: 100%;
}

